.chat {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.chat-header {
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px -2.5px rgba(0, 0, 0, 0.25);
}

.header__info {
    display: flex;
    align-items: center;
}

.info__operator-avatar {
    display: inline-block;
}

.info__operator-name {
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
}

.info__importance {
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
}

.header__back {
    margin-left: 24px;
    margin-right: 24px;
}

.header__more {
    position: absolute;
    right: 0;
    margin-right: 24px;
}

.chat-body {
    background-color: #e0e0e05e ;
    padding-top: 50px;
    padding-bottom: 72px;
    flex: 1;
    overflow-y: auto;
}

.message-card:first-child {
    margin-top: 42px;
}

.message-card {
    display: flex;
    align-items: center;
    margin: 0 0 8px 24px;
}

.message-card.message-card--right {
    margin-right: 24px;
    flex-direction: row-reverse;
}

.message-card__avatar {
    margin-right: 8px;
}

.message-card__text {
    margin-right: 8px;
}

.message-card.message-card--right .message-card__text {
    margin-right: 0;
    margin-left: 8px;
}

.message-card__text {
    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
}

.message-card__text.message-card__text--white {
    background-color: #fff;
    color: 'black';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.message-card__text.message-card__text--green {
    background-color: #208b3bd3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.message-card__time {
    font-size: 10px;
}

.chat-footer {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: auto;
}

.chat-form__input {
    height: 44px;
    width: 100%;
    padding-left: 10px;
}

.chat-form {
    position: relative;
    display: flex;
    width: 100%;
}

.chat-form__input {
    width: 100%;
    padding: 10px 40px 10px 40px;
}

.chat-form__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-image: url("/src/assets/images/submit_button2.png");
    background-size: cover;
    color: white;
    border: none;
    cursor: pointer;
    background-color: white;
    right: 0;
    margin-right: 24px;
}
