.auth {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40% 24px 0;
}

.auth-form {
    margin: 20% 0 24px;
}

.auth__greeter-text {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.auth__button {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0;
    padding: 13px 0 13px 12px;
    text-align: center;
    border-radius: 8px;
    color: #eee;
    background-color: #1A7431;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.auth-form__input {
    border: 1px solid #4FB07A;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    padding: 13px 0;
    width: 96.5%;
    color: rgba(0, 0, 0, 0.5);
}

.auth-form__input::placeholder {
    padding-left: 12px;
}

.auth-form__input:first-child {
    margin-bottom: 12px;
}
