.main {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    text-align: center;
}

.main__greeter-text {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    padding-bottom: 30px;
}

.main__sub-text {
    font-size: 20px;
    margin: 20px 0 0;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    margin: 50px 24px 0;
    gap: 24px;
}

.action-button {
    padding: 13px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-question {
    color: #eee;
    background-color: #1A7431;
}

.button-other {
    color: #000;
    border: 1px solid #1A7431;
}
